<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Partager un témoignage - La Compassion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container-center">
  <h2 class="welcome-title">Partager un témoignage</h2>

  <form method="POST">
    Nom: <input type="text" name="nom" required><br><br>
    
    Témoignage:<br>
    <textarea name="temoignage" rows="5" required></textarea><br><br>

    <input type="submit" value="Envoyer" class="btn">
  </form>

  <a href="{{ url_for('index') }}" class="btn btn-back">Retour</a>
</div>

</body>
</html>
